In [2]:
i=0
while i<8:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7

In [3]:
a=3.2
type(a)

float

In [6]:
a='mk'
type(a)

str

In [8]:
std=12
print('i study in class',std)

i study in class 12

In [11]:
print(f'i study in class {std}')

i study in class 12

In [13]:
name='RA'
age=26
print('my name is {} and age is {}'.format(name,age))

my name is RA and age is 26

In [14]:
print('my name is {abc} and age is {xy}'.format(abc=name,xy=age))

my name is RA and age is 26

In [15]:
print('my name is {abc} and age is {xy}'.format(xy=age,abc=name))

my name is RA and age is 26

In [17]:
age= int(input('enter your age'))

enter your age 26

In [18]:
age

26

In [27]:
age= int(input('enter your age'))
if age>=18 and age<=45:
    print('you r young blood')
else:
    print('thank you contact asap')

enter your age 19

you r young blood

In [33]:
price=int(input('enter the product price'))
if price>1000:
    print('the price after dis is',price*.8)
if price<1000:
    print('the price after dis is',price*.7)

enter the product price 1100

the price after dis is 880.0